
/* *Login Page Styles */

.login_main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* width: 30rem; */
}

.login_main_container > h1 {
    text-align: center;
}

.suggestion_login{
    text-align: center;
    font-size: 1.1rem;
}
.second_child_main_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.redirect_register{
    text-decoration: none;
    text-align: center;
    text-emphasis: none;
}




/* *Login FORM Container */

.login_form_container > div {
    display:flex;
    justify-content: center;
    margin: 1rem auto;
    /* width: 10rem; */
}

.button_submit_form_login{
    padding: 1rem 2rem;
    font-size: 0.9rem;
    /* border-radius: 5px; */
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    color: #ffffff;
    /* background-color: #5b0cda; */
    background: linear-gradient(128deg, rgb(49, 27, 247)0%, rgb(190, 17, 147) 100%);

    transition: 500ms ease-in-out;
}
.button_submit_form_login:hover{
    /* background-color: #a1228c; */
    /* background-color: linear-gradient(120deg, #a1228c 70%); */
    /* background: linear-gradient(128deg, rgb(49, 27, 247)0%, rgb(190, 17, 147) 100%); */

}

/* *Register Page Styles */

.register_main_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.register_main_container > h1{
    text-align: center;
}

/* *Form Register Styles */

.form_login_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.form_login_container > div{
    justify-content: center;
    margin: 0.9rem auto;
}

.container_redirect_login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* padding: 0 0 1rem 0; */
}
.container_redirect_login{
    text-decoration: none;
    text-align: center;
    text-emphasis: none;
}