/* NavBar Styles */

.container_nav {
  /* background: #ffffff;
  background: linear-gradient(
    128deg,
    rgb(49, 27, 247) 0%,
    rgb(190, 17, 147) 100%
  ); */
  min-width: 120px;
  /* width: 100rem; */
  height: 6rem;
  display: flex;
  justify-content: space-between;
}

.container_nav > div > a {
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 1rem 1rem;
}

.container_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  /* align-items: start; */
}

/* Index Page Styles */

.index_background {
  background: #ffffff;
  background: linear-gradient(
    128deg,
    rgb(49, 27, 247) 0%,
    rgb(190, 17, 147) 100%
  );
  min-width: 100vh;
  min-height: 100vh;
}

.index_navBar {
}

.index_main_title {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

.index_main_subtitle {
  color: #ffffff;
  text-align: center;
}

/* !Animation styles */

.container_circles {
  display: flex;
  justify-content: center;
  /* margin: 6rem 0 0 0; */
}

.index_first_circle {
  /* background-color: rgba(0, 0, 0, 0); */
  background: rgb(190, 17, 147);
  background: linear-gradient(
    0deg,
    rgb(230, 213, 213) 33%,
    rgba(255, 255, 255, 0.062) 100%
  );
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  /* margin: 0 0; */
  padding: 3px;
  display: flex;
  align-items: center;
  /* border: 2px solid #ffffff; */
  animation: spin 1.5s linear infinite;
}

.index_first_circle_core {
  width: 100%;
  height: 100%;
  background: rgba(153, 12, 54, 0.973);
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.index_first_circle_core > p {
  color: white;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
  font-size: 0.8rem;
  /* all: unset; */
  animation: none;
}





.index_father_circle {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5rem 0 0 0;
}

.index_loading_circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

.index_loading_circle:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.span_styles {
  /* color: #737373; */
  color:rgb(230, 213, 213);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50% {
    color: black;
  }
}







.father_animation_container {
  display: flex;
  justify-content: center;
}

.animation_container {
  width: 1rem;
  height: 1rem;
  background-color: #000000;
  animation-name: first_animation;
  animation-duration: 4s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes first_animation {
  0% {
    background: #1c07da;
  }
  50% {
    background: #da0782;
  }
  100% {
  }
}
